<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin/layout}">
	<th:block layout:fragment="content">
		<div class="page-common page-login">
			<form method="post" action="/admin/user/login.do">
				<input type="text" name="userId" class="size-md" placeholder="아이디">
				<input type="password" name="userPassword" class="size-md" placeholder="비밀번호">
				<button type="submit" class="button size-md c-blue">로그인</button>
				<a href="/admin/user/join.do" class="link">관리자 가입</a>
			</form>
		</div>
	</th:block>
</html>