<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="sideFragment">
		<div class="side-bar">
			<div class="side-bar-head">
				<i class="xi-hamburger-back"></i>
			</div>
			<div class="side-bar-menu-list">
				<ul>
					<li class="menu">
						<a href=""><i class="xi-library-add"></i><span>메뉴 관리</span></a>
						<ul class="sub-menu">
							<li>
								<a href="/admin/menu/list.do"><i></i><span>메뉴 목록</span></a>
								<a href="/admin/menu/reg.do"><i></i><span>메뉴 등록</span></a>
							</li>
						</ul>
					</li>
					<li class="menu">
						<a href=""><i class="xi-group"></i><span>관리자 관리</span></a>
						<ul class="sub-menu">
							<li>
								<a href=""><i class=""></i><span>메뉴 목록</span></a>
								<a href=""><i class=""></i><span>메뉴 등록</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</th:block>
</html>