<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headerFragment">
		<header class="main-header-wrap">
			<div class="main-header">
				<h1 class="main-logo"><a href="/">ORDER SALADY</a></h1>
				<ul class="menu-common">
					<li><a href="/menu/list">일반 메뉴</a></li>
					<li><a href="/nutritionComponent/main">영양성분 조회</a></li>
					<li><a href="/customMenu/main">나만의 샐러디 만들기</a></li>
				</ul>
				<ul class="menu-user">
					<li><a href="/user/loginForm"><i class="xi-log-in"></i>로그인</a></li>
					<li><a href="/user/joinForm"><i class="xi-user-plus"></i>회원가입</a></li>
				</ul>
			</div>
		</header>
	</th:block>
</html>