<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderSalady.nutritionComponent.mapper.NutritionComponentMapper">
	<sql id="sqlMenuNutritionSelect">
		SELECT
			MN.ROW_SEQ,
			MN.MENU_INFO_SEQ,
			MN.CAPACITY,
			MN.CALORIES,
			MN.CARBOHYDRATE,
			MN.SUGAR,
			MN.PROTEIN,
			MN.FAT,
			MN.TRANS_FAT,
			MN.SATURATED_FAT,
			MN.CHOLESTEROL,
			MN.SODIUM
		FROM MENU_NUTRITION MN
	</sql>

	<select id="selectMenuNutrition" parameterType="MenuNutritionDto" resultType="MenuNutritionVo">
		<include refid="sqlMenuNutritionSelect"/>
		WHERE MN.MENU_INFO_SEQ=#{menuInfoSeq}
	</select>
	
	<select id="selectMenuNutritionList" resultType="MenuNutritionVo">
		SELECT
			MN.ROW_SEQ,
			MN.MENU_INFO_SEQ,
			MN.CAPACITY,
			MN.CALORIES,
			MN.CARBOHYDRATE,
			MN.SUGAR,
			MN.PROTEIN,
			MN.FAT,
			MN.TRANS_FAT,
			MN.SATURATED_FAT,
			MN.CHOLESTEROL,
			MN.SODIUM
		FROM MENU_NUTRITION MN
	</select>
	
	<select id="selectMenuNutritionExtendList" resultType="MenuNutritionVo">
		SELECT
			MN.ROW_SEQ,
			MI.MENU_TYPE_SEQ,
			MT.KO_NAME AS MENU_TYPE_KO_NAME,
			MN.MENU_INFO_SEQ,
			MI.KO_NAME AS MENU_INFO_KO_NAME,
			MN.CAPACITY,
			MN.CALORIES,
			MN.CARBOHYDRATE,
			MN.SUGAR,
			MN.PROTEIN,
			MN.FAT,
			MN.TRANS_FAT,
			MN.SATURATED_FAT,
			MN.CHOLESTEROL,
			MN.SODIUM
		FROM MENU_NUTRITION MN
		INNER JOIN (SELECT * FROM MENU_INFO WHERE DEL_YN='N') MI ON MI.ROW_SEQ=MN.MENU_INFO_SEQ
		INNER JOIN MENU_TYPE MT ON MT.ROW_SEQ=MI.MENU_TYPE_SEQ
	</select>
</mapper>