<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderSalady.menu.mapper.MenuNutritionMapper">
	<sql id="sqlMenuNutritionSelect">
		SELECT
			MN.ROW_SEQ,
			MN.MENU_INFO_SEQ,
			MN.CAPACITY,
			MN.CALORIES,
			MN.CARBOHYDRATE,
			MN.SUGAR,
			MN.PROTEIN,
			MN.FAT,
			MN.TRANS_FAT,
			MN.SATURATED_FAT,
			MN.CHOLESTEROL,
			MN.SODIUM
		FROM MENU_NUTRITION MN
	</sql>

	<select id="selectMenuNutrition" parameterType="MenuNutritionDto" resultType="MenuNutritionVo">
		<include refid="sqlMenuNutritionSelect"/>
		WHERE MN.MENU_INFO_SEQ=#{menuInfoSeq}
	</select>
</mapper>