<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headerFragment">
		<header class="main-header-wrap">
			<div class="main-header">
				<h1 class="main-logo"><a href="/">ORDER SALADY</a></h1>
				<ul class="menu-common">
					<li><a href="/commonMenu/main.do">일반 메뉴</a></li>
					<li><a href="/customMenu/main.do">커스텀 메뉴</a></li>
					<li><a href="/nutrientComponent/main.do">영양성분 조회</a></li>
					<li><a href="/notice/list.do">공지사항</a></li>
					<li><a href="/motice/list.do">이벤트</a></li>
				</ul>
				<ul class="menu-user">
					<li><a href="/user/login.do"><i class="xi-log-in"></i>로그인</a></li>
					<li><a href="/user/join.do"><i class="xi-user-plus"></i>회원가입</a></li>
					<li><a href="/admin/user/login.do"><i class="xi-security"></i>관리자 로그인</a></li>
				</ul>
			</div>
		</header>
	</th:block>
</html>