html, body { font-family: "notoR", sans-serif; }

.notoT { font-family: "notoT", sans-serif; }

.notoL { font-family: "notoL", sans-serif; }

.notoDL { font-family: "notoDL", sans-serif; }

.notoR { font-family: "notoR", sans-serif; }

.notoM { font-family: "notoM", sans-serif; }

.notoB { font-family: "notoB", sans-serif; }

.notoBlack { font-family: "notoBlack", sans-serif; }
