// ===========================================
// Variables
// ===========================================
// COLOR
$cBlue:#456dff;
$cGreen:#0cb95a;
$cRed:#ef3434;
$cBlack:#2e384d;
$cYellow:#faaa39;
$cSliver:#ebe9e9;
$cWhite:#fff;