// ===========================================
// Variables
// ===========================================
// FONT 
$notoT:"notoT", sans-serif;
$notoL:"notoL", sans-serif;
$notoDL:"notoDL", sans-serif;
$notoR:"notoR", sans-serif;
$notoM:"notoM", sans-serif;
$notoB:"notoB", sans-serif;
$notoBlack:"notoBlack", sans-serif;

// COL
$col1:100%;
$col2:calc(100%/2);
$col3:calc(100%/3);
$col4:calc(100%/4);
$col5:calc(100%/5);