// ===========================================
// Variables
// ===========================================
// FONT 
$notoT:"notoT", sans-serif;
$notoL:"notoL", sans-serif;
$notoDL:"notoDL", sans-serif;
$notoR:"notoR", sans-serif;
$notoM:"notoM", sans-serif;
$notoB:"notoB", sans-serif;
$notoBlack:"notoBlack", sans-serif;